* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

main {
    display: flex;
}

#target {
    width: 30%;
    margin: 10vh auto;
    background-image: url("cadran01.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#clockPlace {
    width: 50vw;
    height: 50vh;
    background-image: url("cadran02.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
