* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

#target {
    width: 20%;
    height: 20vh;
    border: 1px solid black;
    margin: 10vh auto;
}
